@font-face {
    font-family: 'Darker Grotesque';
    src: local(DarkerGrotesque-SemiBold), url('../fonts/DarkerGrotesque-SemiBold.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local(JosefinSans-Regular), url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
}
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #121521;
}
.container {
    width: 1242px;
    margin: auto;
}
.header {
    height: 140px;
   display: flex;
   align-items: center;
   justify-content: space-between
}
.header__main-menu {
    width: 706px;
}

.header__list  {
    display: flex;
    justify-content: space-between;
}
.header__list li {
    list-style: none;
}
.header__list a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.open-air {
    padding-left: 0px;
    height: 750px;
    display: grid;
    grid-template-columns: 530px 1fr;
    align-items: center;
}
.open-air__content {
    height: 382px;
    width: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.open-air__info {
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.open-air__buttons {
    width: 410px;
    display: flex;
    justify-content: space-between;
}
.open-air__button {
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: 600;
}
.open-air__button--violet {
    width: 176px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: #40467C;
    border: 1px solid #40467C;
}
.open-air__button--empty {
    font-size: 17px;
    color: white;
    width: 204px;
    text-decoration: none;
    border: 1px solid white;
}
.open-air__text--top-white {
    color: #B2B2D3;
    font-size: 20px;
}
.open_air__label--white {
    color: white;
}
.open-air__text--bot-white {
    color: #B2B2D3;
    font-size: 32px;
}
.open-air__img {
    position:absolute;
    right: 0;
    /* background-image: url(../images/main-baner.jpg);
    background-repeat: no-repeat;
    background-size: contain; */
}